<h1>RedigerKonti</h1>

 <nav>
        <div>
            <ul class="navbar-nav">
               <li class="nav-item">
                    <a href="afterlogin">Home</a>
                </li>
                <li class="nav-item">
                    <a href="beckonti/json">Json</a>
                </li>
                <li class="nav-item">
                    <a href="createbeckonti.html">Oprettet Konti</a>
                </li>
                <li class="nav-item">
                    <a href="redigerkonti">Redigerkonti</a>
                </li>
                <li class="nav-item">
                    <a href="Konti.html">Dummy data</a>
                </li>
                <li class="nav-item">
                    <a href="beckonti">Konti fra db</a>
                </li>
                  <li class="nav-item">
                    <a class="active" href="./">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>
     <form action="/redigerkonti/put" method="post" class="rediger">
     <label><b>Hvilken konti skal justeres?</b></label>
     <br>
        <label>UsernameId</label> <input type="text" placeholder="userId" name="usernameId">
        <td> <button type="submit" class="btn btn-dark">Find</button></td><br />

        <label><b>Justeringer:</b></label><br>

        <label>Name</label> <input type="text" name="name"><br />
        <label>KontoNummer</label> <input type="text" name="kontoNummer"><br />
        <label>Indeestående</label> <input type="number" name="indeestaaende"><br />
        <label>Valutar</label> <input type="text" name="valutar"><br />
        <label>Renter</label> <input type="number" name="renter"><br />
        <label>Transaktion</label> <input type="text" name="transaktioner"><br />
        
    </form>